@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    overflow: hidden;
    user-select: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: rgb(6, 6, 6);
    font-size: 20px;
}