@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    font-family: 'Inter';
    padding: 10px;
    font-size: 1,3rem;
}
