.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.singleplayer {
    margin-right: 10rem;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
    transition: box-shadow 0.2s ease;
}

.multiplayer {
    margin-left: 10rem;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
    transition: box-shadow 0.2s ease;
}

.singleplayer:hover {
    box-shadow: 0 0 100px var(--s-box-shadow-color);
    border: 1px solid var(--s-border-color);
    color: var(--s-color);
}

.multiplayer:hover {
    box-shadow: 0 0 100px var(--m-box-shadow-color);
    border: 1px solid var(--m-border-color);
    color: var(--m-color);
}